<div id="{{title}}">
  <div class="thumbnail">
    <img class="thumbnail" src="{{poster_url}}">
  </div>
  <div class="search-result-content">
    <span><b>Title:</b> {{title}}</span><br>
    <span><b>Cast:</b> {{cast}}</span><br>
    <button id="recommend">Recommend</button>
  </div>
</div>
