div#search-input {
  display: none;
  @include span-columns(6);
  @include shift(3);
  margin-top: 20px;
  text-align: center;
  float: none;
  margin-bottom: 1em;

  input {
    display: inline-block;
    text-align: center;
    width: 80%;
  }
}

div#search-results {
  @include span-columns(6);
  @include shift(3);
  background: white;
  padding: 0 1em 0 1em;
}

div.book-recommendation-search-result{
  @include span-columns(6 of 6);
  border-bottom: 1px solid black;
  margin: 1em 0 1em 0;
  // padding-bottom: 1em;
}

div.movie-recommendation-search-result{
  @include span-columns(6 of 6);
  border-bottom: 1px solid black;
  margin: 1em 0 1em 0;
  // padding-bottom: 1em;
}

div.thumbnail {
  @include span-columns(1 of 6);
  margin-bottom: 1em;
}

div.search-result-content {
  @include span-columns(5 of 6);
  margin-bottom: 1em;
}

button#recommend {
  font-size: 0.65em;
}

b {
  font-weight: bold;
}
