/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "reset";
@import "bourbon";
@import "base/base";
@import "neat";
@import "search-results";
@import "recommendations";
@import "friends";
@import "friend-requests";
@import "find-friends";

body {
  background: #eee;
}

// .modal {
//   display: none;
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background: rgba(0,0,0,0.7);
// }

header {
  background: black;
  color: white;
  height: 75px;
}


header h1 {
  float: left;
  padding-left: 30px;
}

header nav {
  text-align: right;
  padding-right: 30px;
  padding-top: 13px;

}

header li {
  display: inline;
}

header li a {
  color: white;
}

div#landing-content {
  position: relative;
  top: 20%;
}

div#landing h1 {
  // padding-top: 120px;
  font-size: 100px;
  font-family: courier;
  color: white;
  margin-bottom: 30px;
}

div#landing {
  height: 100vh;
  background: black;
  text-align: center;
  background-image: url("camaras.jpg");
  background-size: cover;
}

div#landing li a {
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  margin-bottom: 15px;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
}


img.user-image {
  max-height: 50px;
}

img.thumbnail {
  max-height: 100px;
}

img.show {
  max-height: 200px;
}


div#friend-search-input {
  display: none
}

div#friend-search-result {
  display: none
}

div.finish {
  display: none
}


div#container{
  @include outer-container;
}


span.thumbnail {
  margin-bottom: 1em;
}


.friend-search-modal  {
  display: none; /* ensures it’s invisible until it’s called */
  overflow: scroll;
  position: fixed; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 28%; /* positions the div half way horizontally */
  top: 20%; /* positions the div half way vertically */
  bottom: 20%;
  padding: 25px;
  padding-bottom: 50px;
  border: 1px solid black;
  background-color: #ffffff;
  width: 44%;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */

  button {
    font-size: 0.65em;
    vertical-align: bottom;

    // .close {
    //   background-color: red;
    //   display: block;
    //   float: right;
    // }
  }

  button.close {
    background-color: red;
    display: block;
    float: right;
  }

  button.close:hover {
    background-color: darkred;
  }
}

#rec-detail-modal  {
  display: none; /* ensures it’s invisible until it’s called */
  overflow: scroll;
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 25%; /* positions the div half way horizontally */
  top: 25%; /* positions the div half way vertically */
  padding: 25px;
  padding-bottom: 50px;
  border: 1px solid black;
  background-color: #ffffff;
  width: 50%;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
}

#sign-in-modal {
  overflow: scroll;
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 25%; /* positions the div half way horizontally */
  top: 0%;
  bottom: 0%;
  padding: 25px;
  padding-bottom: 25px;
  border: 1px solid black;
  border-radius: 0.6em;
  background-color: #ffffff;
  width: 50%;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */

  h2 {
    text-align: center;
  }

  input[type="submit"] {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  a {
    text-align: center;
    display: block;
  }
}

#log-in-modal {
  overflow: scroll;
  position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
  left: 25%; /* positions the div half way horizontally */
  top: 15%;
  bottom: 15%;
  padding: 25px;
  padding-bottom: 25px;
  border: 1px solid black;
  border-radius: 0.6em;
  background-color: #ffffff;
  width: 50%;
  z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */

  h2 {
    text-align: center;
  }

  input[type="submit"] {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  a {
    text-align: center;
    display: block;
  }
}
